{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}

<div class="container-login">
<h2 class="title-login">Réinitialisez<br> le mot de passe</h2>

<div class="container-form-login">

    <p>
        Si votre email correspond à un compte, un email vous a été envoyé afin de réinitialiser votre mot de passe.
        Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous n'avez pas reçu de mail, regardez dans vos spams ou <a href="{{ path('app_forgot_password_request') }}" class="login-link">réessayez</a>.</p>

</div>
</div>
{% endblock %}
