{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}

<div class="container-login">

    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h2 class="title-login">Réinitialisez<br> le mot de passe</h2>

    <div class="container-form-login">

        {% form_theme requestForm 'views/form-theme.html.twig' %}

    {{ form_start(requestForm) }}

        <div>
            Entrez votre adresse mail pour recevoir un lien de réinitialisation
        </div>

        {{ form_row(requestForm.email, {label: 'Email', label_attr: {class: 'visually-hidden'}}) }}


        <button class="form-button-submit">Valider</button>
    {{ form_end(requestForm) }}

    </div>

</div>
{% endblock %}
