<footer>
    <a href="https://github.com/Spaceman974">Baptiste Leblanc</a>, <a href="https://github.com/mauditbutin">Maud Butin</a> & <a href="https://github.com/Razdsgn">Raman Khaniakou</a> - Eni 2026
</footer>
