<footer>
    <nav>
        <div>
            <img src="{{ asset('images/logoSite/conception-modele-logo-montagne-minimaliste_698780-847.avif') }}"
                 alt="">
            <ul>
                <li>
                    <a href="#">Mentions légales</a>
                </li>
                <li>
                    <a href="#">Profil</a>
                </li>
                <li>
                    <a href="#">hikes</a>
                </li>
            </ul>
        </div>
    </nav>
</footer>
