<header>
    <nav>
        <img src="{{ asset('images/logoSite/conception-modele-logo-montagne-minimaliste_698780-847.avif') }}" alt=""
             style="width: 10rem">
        <ul>
            <li>
                <a href="{{ path('home') }}">Home</a>
            </li>
            <li>
                <a href="#">Profil</a>
            </li>
            <li>
                <a href="#">hikes</a>
            </li>
        </ul>
    </nav>
</header>
