{% extends 'base.html.twig' %}

{% block body %}

    {% form_theme form 'views/form-theme.html.twig' %}



    <h2 class="title-create">Ajoutez un nouveau campus :</h2>

    <div class="create-container-form">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-row form-buttons">

            <button type="submit" class="form-col form-button-submit">Créer</button>

            <div class="form-col">
                <a class="form-button-cancel" href="{{ path('admin_main') }}">
                    Annuler
                </a>
            </div>
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}

{% block title %}
    | add campus
{% endblock %}

