/****************************************/
/* Mise en page des forms */
/****************************************/

.form-label {
    color: var(--color-green-dark);
    font-family: "BioRhyme", serif;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}

.label-added {
    color: var(--color-green-dark);
    font-family: "BioRhyme", serif;
}

.form-widget {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}

.form-error {
    color: var(--color-red-error);
    font-size: 0.8em;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.form-error ul li {
    list-style: none;
}

.form-widget input:not([type="file"]):not([type="checkbox"]),
.form-widget select {
    height: 2.5rem;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    border: solid 1px var(--color-green-dark);
    padding-left: 0.5rem;
}

.form-widget textarea {
    height: 7rem;
    width: 100%;
    border-radius: 5px;
    border: solid 1px var(--color-green-dark);
    padding: 0.5em;
}

.form-row {
    display: flex;
    gap: 1rem;
}

.form-col {
    flex: 1;
    min-width: 0;
}

.form-col input,
.form-col select {
    width: 100%;
}

.button-inside-form {
    background-color: var(--color-orange-light);
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    color: var(--color-green-dark);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
}

.custom-file-input::file-selector-button {
    background-color: var(--color-orange-light);
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    color: var(--color-green-dark);
    border: none;
    cursor: pointer;
}

.custom-file-input {
    color: var(--color-green-dark);
}

.form-button-submit {
    background-color: var(--color-green-light);
    color: var(--color-beige-base);
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    width: 100%;
}

.form-button-cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.1em;
    color: var(--color-green-light);
    background-color: var(--color-beige-base);
    border: solid 1px var(--color-green-light);
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
}

.form-buttons {
    margin-top: 2em;
}

/****************************************/
/* Mise en page des filters */
/****************************************/

.filter-label {
    color: var(--color-beige-base);
    font-family: "BioRhyme", serif;
    /*margin-top: 0rem;*/
    /*margin-bottom: 0.5rem;*/
}

.filter-widget input:not([type="checkbox"]) {
    height: 2rem;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    border: solid 1px var(--color-beige-base);
    padding-left: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    background-color: var(--color-beige-base);
}

.filter-widget select {
    height: 2rem;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    border: solid 1px var(--color-beige-base);
    padding-left: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    background-color: var(--color-beige-base);
}

.filter-button-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.1em;
    background-color: var(--color-orange-light);
    color: var(--color-green-dark);
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    margin-top: 2rem;
}

#add_user_roles label {
    color: var(--color-green-dark);
    justify-content: center;
}

#add_user_roles {
    display: flex;
    padding: 0;
    margin: 0;
}
