/****************************************/
/* Général */
/****************************************/

*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    width: 95%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Montserrat", sans-serif;
    color: #F0EFE4;
    background-color: #4E5D39;
}

.txt-gras {
    font-weight: bold;
    font-family: "BioRhyme", serif;
}


/****************************************/
/* MODALES */
/****************************************/

.modale {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.modaleOverlay {
    cursor: default;
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.modaleContent {
    position: relative;
    background-color: #F0EFE4;
    border-radius: 5px;
    /*width: fit-content;*/
    /*height: fit-content;*/
    /*padding: 2em;*/
}

.no-scroll {
    overflow: hidden;
}


/****************************************/
/* MESSAGES FLASH */
/****************************************/


.alert-success {
    position: fixed;
    top: 1rem;
    right: 1rem;
    max-inline-size: min(25ch, 90vw);
    padding: 10px 14px;
    border-radius: 6px;
    font-size: 1.2rem;
    color: #41ffa7;
    background-color: #032e27;
    opacity: 0;
    transform: translateY(-20px);
    animation: toast 3.3s ease forwards;
    pointer-events: none;
}

.alert-error {
    position: fixed;
    top: 1rem;
    right: 1rem;
    max-inline-size: min(25ch, 90vw);
    padding: 10px 14px;
    border-radius: 6px;
    font-size: 1.2rem;
    color: #ff4341;
    background-color: #032e27;
    opacity: 0;
    transform: translateY(-20px);
    animation: toast 3.3s ease forwards;
    pointer-events: none;
}

@keyframes toast {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
        visibility: hidden;
    }
}

