/****************************************/
/* Général */
/****************************************/

*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding-top: 60px;
    font-family: "Montserrat", sans-serif;
    color: var(--color-beige-base);
    background-color: var(--color-green-base);
}

main {
    width: 95%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.txt-gras {
    font-weight: bold;
    font-family: "BioRhyme", serif;
}


/****************************************/
/* NAV */
/****************************************/


.navbar {
    background-color: var(--color-beige-base);
    padding-top: 10px;
    padding-bottom: 5px;
    position: fixed;
    width: 100%;
    z-index: 50;
    top: 0;
    display: flex;
    gap: 3rem;
    font-family: "BioRhyme", serif;
    align-items: center;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    color: var(--color-green-dark);
    transition: all 0.2s ease-in-out;
}

.navbar a:hover {
    color: var(--color-orange-dark);
}

.scratch-border {
    position: absolute;
    bottom: -19px;
    left: 0;
    width: 100%;
    height: 20px;
}

.logo-navbar {
    width: 40px;
}

.button-logout {
    border: solid 1px var(--color-green-dark);
    padding: 0.3em 0.8rem;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.button-logout:hover {
    border: solid 1px var(--color-orange-dark);
}


/****************************************/
/* FOOTER */
/****************************************/

footer {
    color: var(--color-beige-base);
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 1rem;
    margin-top: 2rem;
    position: relative;
}

footer a {
    color: var(--color-orange-light);
    text-decoration: none;
}



/****************************************/
/* MODALES */
/****************************************/

.modale {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.modaleOverlay {
    cursor: default;
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.modaleContent {
    position: relative;
    background-color: var(--color-beige-base);
    border-radius: 5px;
    /*width: fit-content;*/
    /*height: fit-content;*/
    /*padding: 2em;*/
}

.no-scroll {
    overflow: hidden;
}


/****************************************/
/* MESSAGES FLASH */
/****************************************/


.alert-success {
    position: fixed;
    top: 1rem;
    right: 1rem;
    max-inline-size: min(25ch, 90vw);
    padding: 10px 14px;
    border-radius: 6px;
    font-size: 1.2rem;
    color: rgb(165, 219, 66);
    background-color: var(--color-green-dark);
    opacity: 0;
    transform: translateY(-20px);
    animation: toast 3.3s ease forwards;
    pointer-events: none;
    z-index: 200;
}

.alert-error {
    position: fixed;
    top: 1rem;
    right: 1rem;
    max-inline-size: min(25ch, 90vw);
    padding: 10px 14px;
    border-radius: 6px;
    font-size: 1.2rem;
    color: var(--color-red-error);
    background-color: var(--color-green-dark);
    opacity: 0;
    transform: translateY(-20px);
    animation: toast 3.3s ease forwards;
    pointer-events: none;
    z-index: 200;
}

@keyframes toast {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
        visibility: hidden;
    }
}

