/****************************************/
/* Section hero */
/****************************************/

.hero {
    height: 100vh;
    width: 100vw;
    background-image: url(../images/assetsFront/pexels-ariane-633411126-33059864-cropped.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
}

/****************************************/
/* Transition hero > conteneur des hikes */
/****************************************/

.scratch-border-top-under {
    position: absolute;
    top: -23px;
    left: 0;
    width: 100%;
    height: 20px;
    z-index: 1;
}

.scratch-border-top-above {
    position: absolute;
    top: -19px;
    left: 0;
    width: 100%;
    height: 20px;
    z-index: 2;
}

.main-container {
    background-color: #4E5D39;
    position: relative;
    padding-top: 20px;
    margin-top: -40vh;
    z-index: 2;
}



/****************************************/
/* Liste des hikes */
/****************************************/

.titre-home {
    color: var(--color-orange-light);
    font-family: "BioRhyme Expanded", serif;
    text-align: center;
    font-size: 2.5em;
}


/****************************************/
/* Liste > Filtre des hikes */
/****************************************/

.home-conteneur-filter {
    text-align: center;
    margin-bottom: 2rem;
}

.button-collapsible {
    background-color: rgba(78, 93, 57, 0);
    color: var(--color-beige-base);
    cursor: pointer;
    font-family: "BioRhyme", serif;
    border: none;
    border-bottom: 1px solid var(--color-beige-base);
    padding-bottom: 0.8rem;
    text-align: center;
    font-size: 1.2em;
}

.button-collapsible:after{
    content: '\25BC';
    font-size: 0.9rem;
    color: var(--color-beige-base);
    margin-left: 0.5rem;
}

.active:after {
    content: '\25B2';
}

.content-collapsible {
    display: none;
    overflow: hidden;
    max-height: 0;
    margin-top: 1rem;
    transition: max-height 0.2s ease-out;
    justify-content: center;
}


/****************************************/
/* Liste > Cartes des hikes */
/****************************************/

.home-conteneur-hikes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home-conteneur-hikes a {
    text-decoration: none;
}

.home-box-oneHike {
    background-color: var(--color-beige-base);
    border-radius: 8px;
    width: 550px;
    margin: 0.5rem;
}

.oneHike-container-coverImg {
    width: 100%;
    height: 150px;
    border-radius: 8px;
}

.oneHike-coverImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
}

.home-box-oneHike h2 {
    font-family: "BioRhyme", serif;
    color: var(--color-green-dark);
    font-size: 1.5em;
    margin-bottom: 0.4em;
}

.oneHike-infos {
    padding: 1rem;
}

.oneHike-infosCartouches {
    display: flex;
    font-family: "BioRhyme", serif;
    margin-bottom: 0.4em;
}

.oneHike-infosCartouches div {
    padding: 0.2rem 0.4rem;
    margin-right: 0.5rem;
    border-radius: 5px;
}

.oneHike-infosCartouches .date {
    background-color: var(--color-orange-light);
    color:var(--color-green-dark);
}

.oneHike-infosCartouches .duration {
    background-color: var(--color-green-light);
    color: var(--color-beige-base);
}

.oneHike-infosCartouches .subscription {
    background-color: var(--color-green-dark);
    color: var(--color-beige-base);
}

.oneHike-difficulty {
    color: var(--color-green-dark);
    margin-bottom: 0.8em;
}

.oneHike-difficulty .etoile{
    color: var(--color-orange-dark);
}

.oneHike-description {
    color: var(--color-green-dark);
}

.oneHike-description .lirePlus {
    color: var(--color-orange-dark);
    text-decoration: underline;
}

