:root {
    --color-green-light: #708451;
    --color-green-base: #4E5D39;
    --color-green-dark: #22310C;
    --color-orange-light: #FF9D53;
    --color-orange-dark: #EE7113;
    --color-beige-base: #F0EFE4;
    --color-red-error: #ff4341;
}
