{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} | Créer une randonnée
{% endblock %}

{% block body %}

    <h2>Créer une randonnée</h2>

    {{  form_start(hikeForm) }}
    {{  form_widget(hikeForm) }}
    {{  form_end(hikeForm) }}

{% endblock %}



